:root {
    --element-color: #2424246f;
    --header-color: #8282824d;
    --border-color: #595959cc;
    --text-color: azure;
}

body {
    font-family: "Open Sans", sans-serif;
    /* min-width: 1410px; */
    background: linear-gradient(to bottom right, #030339, #270332);
    background-attachment: fixed;
}

#workspace {
    width: fit-content;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#evaluation_view {
    float: left;
    min-width: 930px;
    margin: 10px;
    margin-left: 5px;
    background-color: var(--element-color);
    min-height: 850px;
    border-radius: 1rem;
    border: var(--border-color) solid 1px;
    backdrop-filter: blur(5px);
}

#evaluation-input-view {
    float: left;
    width: 400px;
    margin: 10px;
}

#evaluation_output_editor {
    float: left;
    width: 500px;
    margin-bottom: 20px;
}

#load_task_control_btns {
    float: left;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 0;
    background: var(--header-color);
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 1rem;
    color: var(--text-color);
    backdrop-filter: blur(5px);
    border: var(--border-color) solid 1px;
}

#editor_grid_control_btns {
    float: left;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: var(--header-color);
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 1rem;
    color: var(--text-color);
    backdrop-filter: blur(5px);
    border: var(--border-color) solid 1px;
}

#resize_control_btns {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

#submit_solution_btn {
    font-size: large;
    color: var(--text-color);
    background: rgb(8, 170, 46);
    width: 100%;
}
#submit_solution_btn:hover {
    background: rgb(10, 144, 10);
}

#submit_solution_btn:active {
    background: rgb(4, 101, 4);
}

button:focus {
    outline: 0;
}

#user_grid_control_btns {
    margin-top: 30px;
    margin-bottom: 10px;
    float: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background: var(--element-color);
    border: var(--border-color) solid 1px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: fit-content;
    padding: 10px;
    border-radius: 1rem;
}

#symbol_picker {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

label {
    margin-left: 10px;
}

#resize_btn {
    margin-left: 0;
}

/* buttons */
button, input[type="button"] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 30%;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 0.5rem;
    background-color: #ccc;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex-grow: 1;
    border: none;
}

button:hover, input[type="button"]:hover {
    background-color: #aaa;
}

/*Task demonstration*/

#demonstration_examples_view {
    display: flex;
    flex-direction: column;
    float: left;
    min-width: fit-content;
    min-height: fit-content;
    margin: 10px;
    background-color: var(--element-color);
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    border: var(--border-color) solid 1px;
}

#task_preview {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: fit-content;
    width: 90%;
    gap: 30px;
}

.label_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.checkbox-wrapper {
    position: relative;
    width: 50px;
    height: 24px;
    background-color: grey;
    border-radius: 12px;
    transition: background-color 0.2s;
}

.checkbox-wrapper:has(#show_symbol_numbers:checked) {
    background: linear-gradient(to bottom right, #1176f3 0%, #ba0cce 100%);
}

#show_symbol_numbers {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    margin: 0;
}

#show_symbol_numbers:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.466);
    transition: transform 0.2s;
    border: #e7e7e7 2px solid;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.3);
}

#show_symbol_numbers:checked:before {
    transform: translateX(26px);
    box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.3);
}


.pair_preview {
    display: flex;
    height: auto;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.input_preview {
    height: auto;
    width: auto;
    min-height: 0;
}

.output_preview {
    height: auto;
    width: auto;
    min-height: 0;
}

.text {
    text-align: center;
    background: var(--header-color);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-radius: 1rem;
    color: var(--text-color);
    backdrop-filter: blur(5px);
    border: var(--border-color) solid 1px;
}

#task_demo_header {
    margin: 10px;
    width: 90%;
    border-radius: 1rem;
}

#modal_bg {
    background-color: black;
    width: 100%;
    min-height: 10000px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 9999;
}

#modal {
    margin: auto;
    background-color: white;
    text-align: center;
    padding: 100px;
    width: 500px;
    margin-top: 100px;
}

#modal input {
    margin-left: 70px;
}

/* Basic reset for radio buttons */
.tool-buttons input[type="radio"] {
    display: none;
}

/* Styling the labels to look like buttons */
.tool-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    background-color: #ccc;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Add some spacing between the icon and text */
.tool-button i {
    margin-right: 8px;
}

/* Change background color when the radio button is checked */
.tool-buttons input[type="radio"]:checked + .tool-button {
    background-color: #2196f3;
    color: white;
}

/* Additional hover effect */
.tool-button:hover {
    background-color: #bbb;
}

/* Change icon color when the button is selected */
.tool-buttons input[type="radio"]:checked + .tool-button i {
    color: white;
}
